@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-Color: #4e47ff;
  --secondary-Color: #ffffff;
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Inter', sans-serif;
}

::selection {
  background-color: #393E46;
  color: #DDE6ED;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: #f5f8ff;
}

/* ================= HEADER ================= */

header {
  background-image: url(Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  width: 100%;
}
 
/* ================= NAVBAR ================= */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 105px;
}

nav h2 {
  color: var(--primary-Color);
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 34px;
}

nav .signupbutton {
  border: none;
  background-color: var(--primary-Color);
  border-radius: 8px;
  padding: 10px;
  color: var(--secondary-Color);
  width: 120px;
  cursor: pointer;
}

